[2020-02-05 19:58] timdeschryver opened #29 "configurable select: `store.select` VS `store.pipe(select)`"

[2020-02-21 07:59] MaximeKoitsalu opened #16 "Missing "positive" or "correct" examples in some of the examples"
Hi,

I greatly appreciate tools like yours but was wondering if there are any plans to add examples on how to correctly handle the different errors and warnings your linter provides.

For example, with the rule `ngrx-avoid-dispatching-multiple-actions-sequentially`. What is the correct way of doing this?

Thanks

[2020-05-27 17:08] jsaguet opened #15 "Rules migration status"
I wanted to create this issue to follow-up the rules migration from ngrx-tslint-rules.
This could also be useful integrated as documentation for new users or if we want to implement a migration schematic in the end (in this repo or in [@angular-eslint](https://github.com/angular-eslint/angular-eslint))

The following table gives the tslint rule name, the corresponding eslint rule name and the stat

[2020-05-27 17:29] timdeschryver commented on #15
Awesome, `ngrx-no-duplicate-action-types` is indeed not needed.
It would also be hard to do with eslint I think, as it looks across files.

[2020-05-27 17:31] timdeschryver commented on #16
Transfered this issue over to ESLint, as this is the future and providing docs is included within ESLint.

[2020-05-27 17:40] jsaguet commented on #15
👍

How do you enable this? I think I never saw it

[2020-05-27 18:00] timdeschryver commented on #15
Do you got some code to share, and what's the NgRx version you're on?

[2020-05-28 16:22] jsaguet commented on #15
I created a repository https://github.com/jsaguet/ngrx-duplicate-action-repro
I don't see any error from ngrx of duplicate actions either when using directly the action in the reducer or actions in an object.
Do I need to enable something to see it? Is it reported at build type or directly in the editor?

[2020-05-28 17:00] timdeschryver commented on #15
That's now become valid in NgRx.
It will invoke all reducer actions, if you add the same action twice, both will be invoked.

[2020-05-28 22:06] jsaguet commented on #15
OK so the rule should be removed because it is valid ? I understood that it should be removed because the error was displayed by ngrx

[2020-05-29 06:47] timdeschryver commented on #15
Exactly @jsaguet it's now valid.

[2020-05-29 15:26] timdeschryver commented on #15
We can add #36 to the list when it gets merged :)

[2020-05-29 20:39] jsaguet commented on #15
Rule was added to the list

[2020-05-30 13:32] timdeschryver commented on #15
@all-contributors please add @jsaguet for ideas

[2020-05-30 13:32] timdeschryver commented on #15
@all-contributors please add @StephenCooper for ideas

[2020-05-31 13:17] timdeschryver commented on #15
Thansk for your work on this @jsaguet , what do you think about becoming a collaborator 😁?

[2020-05-31 13:27] jsaguet commented on #15
I'd be glad to continue helping you out on this project however I can! 🙂

[2020-06-01 12:47] timdeschryver commented on #15
Putting a fix for `ngrx/on-function-explicit-return-type` in the tslint package here, so we won't forget about it.

https://github.com/timdeschryver/ngrx-tslint-rules/pull/37

[2020-06-05 10:47] #29 closed

[2020-06-09 18:25] timdeschryver commented on #15
I think this issue can be closed 🎉

[2020-06-12 16:04] jsaguet commented on #15
Yes, I guess now it's time to write a bit of documentation 😄

[2020-06-14 18:54] timdeschryver commented on #15
Awesome, thanks again @jsaguet !

[2020-06-14 18:54] #15 closed

[2020-06-15 06:28] timdeschryver opened #32 "Keeping the recommended config up to date"
I think we forgot to add some of the newer rules to the [recommended config](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/master/src/configs/recommended.json).

I wonder if we could keep them up to date by looking at the `recommended` property of each rule.  I think we could add a test that verifies if all rules are included in the recommended config (enabled and disabled).

The test w

[2020-06-15 07:04] jsaguet commented on #32
Indeed, no-multiple-actions-in-effects is missing, my bad.
I can have a look at the test, it can be useful combined with the exported-rules

[2020-06-15 08:22] jsaguet commented on #32
#33 😃

[2020-06-15 08:56] #32 closed

[2020-06-17 18:28] patoncrispy opened #34 "Question: Why shouldn't Store be typed?"
I just added these rules to my codebase and it flagged a lot of errors which is great, but I don't understand the rule `no-typed-store`. Why shouldn't a store be typed? I've tried Googling it but struggling to understand this.

Edit: If I remove the generics I get the following error:
[code]

[2020-06-18 17:16] #34 closed

[2020-06-22 08:46] timdeschryver opened #36 "Add ng-add command"
- adds `eslint-plugin-ngrx` to package.json
- configures eslint with the recommended config (or we ask which rules to enable, like we did in [ngrx-tslint-rules](https://github.com/timdeschryver/ngrx-tslint-rules/blob/master/src/schematics/ng-add/index.ts))

[2020-06-22 08:47] timdeschryver opened #37 "Create a contributing file to help (new) contributors"
- how to setup this project
- useful commands (probably only test?)
- steps to create a new rule

Similar to what [eslint-plugin-testing-library](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/CONTRIBUTING.md) has.

[2020-06-22 17:34] patoncrispy commented on #34
Thanks so much for that excellent explanation, @timdeschryver. Makes a lot of sense now and will help me tidy up our codebase a bit once we get to upgrade.

[2020-06-23 17:14] jsaguet commented on #36
I'd like to try this one out.

I was thinking also checking if there is a tslint configuration still present in the projet and migrate ngrx-tslint-rules accordingly.

[2020-06-24 13:16] patoncrispy opened #38 "404 for no-multiple-actions-in-effects docs"
It seems the docs for the `no-multiple-actions-in-effects` rule is missing.

I feel like I'm learning so much about NGRX having these linting rules in place! :) What is wrong with dispatching multiple actions in an effect, out of curiosity? Googling 'multiple actions in effects' produces many results with articles showing how to do it, so it seems to be a reasonably popular request! It would be gr

[2020-06-24 14:58] timdeschryver commented on #36
Thanks for willing to pick this up @jsaguet , feel free to ping me whenever.
I think we should focus this issue to adding the command, the migration can be done later.

[2020-06-24 15:06] timdeschryver commented on #38
Oops, good catch @patoncrispy ! Thanks for creating this issue.
If you feel like, you can create the file.
That way, it won't be forgotten when we actually add the reasoning behind the rules (with some examples) to the docs 😅

Now, to answer your question...
It's basically the same as the [avoid-dispatching-multiple-actions-sequentially](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/mas

[2020-06-30 06:18] timdeschryver opened #39 "New rule: no setter actions"
We encourage to use actions as "events" and not as setters.
This is also something that is included in the [redux style guide](https://redux.js.org/style-guide/style-guide#model-actions-as-events-not-setters)

This rule could check if:

- an action starts with `set`, e.g. `setCustomer`, `setAmount`
- an action type starts with `set`, e.g. `[CUSTOMERS] Set Customer`, `[CHECKOUT] Set Amount`

[2020-07-03 18:43] #38 closed

[2020-07-07 14:41] jsaguet-betclic opened #40 "Bug: Incorrect error report for use-selector-in-select"
I noticed that the rule `use-selector-in-select` incorrectly reports the following error `using string or props drilling is not prefered, use a selector instead` for this code:

`this.store.pipe(select(selectQueryParam('parameter'))`

`selectQueryParam` is a selector from `@ngrx/router-store` and `parameter` is a parameter of the selector.

[2020-07-07 14:45] #40 closed

[2020-07-07 14:46] jsaguet opened #41 "Bug: Incorrect error report for use-selector-in-select"
I noticed that the rule `use-selector-in-select` incorrectly reports the following error `using string or props drilling is not prefered, use a selector instead` for this code:

`this.store.pipe(select(selectQueryParam('parameter'))`

`selectQueryParam` is a selector from `@ngrx/router-store` and `parameter` is a parameter of the selector.

[2020-07-07 15:16] jsaguet commented on #36
I didn't have time to work on this and I won't have time in the next weeks either so you can take this if you want to. No need to wait for me

[2020-07-07 15:33] timdeschryver commented on #41
Good catch!
Just because I'm curious, are you using ESLINT (already) to lint your code? 😁

[2020-07-07 15:35] jsaguet commented on #41
Yes, I am 😄

[2020-07-07 15:52] timdeschryver commented on #36
No problem 🙂

[2020-07-18 11:08] timdeschryver opened #43 "New rules: re-export rules from rxjs"
The [eslint-plugin-rxjs](https://github.com/cartant/eslint-plugin-rxjs) repo has some rules that can be applied to NgRx effects. These rxjs rules (from rxjs-tslint-rules) are exported in ngrx-tslint-rules, it would be great if this eslint library would also export the same rxjs rules.

[2020-07-20 17:01] hanna-becker opened #44 "ngrx-avoid-dispatching-multiple-actions-sequentially not triggering when the field variable is named store$ instead of store"
Hi, thank you for providing this linter extension, I find it really useful for keeping our code base clean and maintainable. Just noticed that after also adding the "rxjs-tslint-rules" package to enforce Finnish notation on observables, the "ngrx-avoid-dispatching-multiple-actions-sequentially" rule seems not to be detecting issues like this one anymore:

this.store$.dispatch(chooseSong({song: thi

[2020-07-22 09:30] #36 closed

[2020-07-22 10:44] #44 closed

[2020-07-22 14:00] #43 closed

[2020-07-22 16:25] timdeschryver commented on #44
@hanna-becker this [commit](https://github.com/timdeschryver/ngrx-tslint-rules/commit/36e095b9aa16a5e7fa72eee5740e220a4b9e9cb0) in the ngrx tslint repostory should fix this issue, which is available in v2.1.3. It's a quickfix, a more robus fix is provided in the eslint package.

[2020-07-25 23:28] hanna-becker commented on #44
Yeah, it's working now. Awesome, thank you so much!

[2020-07-26 06:25] timdeschryver commented on #44
I've noticed more rules depending on `store`.
I'll try to rewrite them all in the eslint package.
Perhaps later, also in the tslint rules package.

[2020-07-27 05:50] #41 closed

[2020-07-28 16:23] patoncrispy opened #47 "avoid-dispatching-multiple-actions-sequentially rule throws error on node without expression object"
https://github.com/timdeschryver/eslint-plugin-ngrx/pull/45 introduced an issue with the `avoid-dispatching-multiple-actions-sequentially` rule.

This is the stack trace:

[code]

The code it's tripping up on is this:
[code]

If I revert to 1.9.0 this problem goes away.

Simply null-checking `expression.expression` (https://github.com/timdeschryver/eslint-plugin-ngrx/blob/master/src/rules/avoid-di

[2020-07-28 20:09] timdeschryver commented on #47
Thanks for filing this issue!
It seems like you've taken a look into it already, do you want to create a PR for this?

The steps would be to add your snippet to the [tests](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/master/tests/rules/avoid-dispatching-multiple-actions-sequentially.test.ts#L9) and make sure that they pass 😁

[2020-07-28 20:10] patoncrispy commented on #47
Hey @timdeschryver, yeah would be happy to do that. 👍 I'll try get one done tomorrow!

[2020-07-28 20:12] patoncrispy commented on #47
I'm not familiar with how eslint plugins work (at a lower level) so is there some documentation you recommend I read before getting started?

[2020-07-28 20:21] timdeschryver commented on #47
The docs are a bit lacking for for typescript eslint.
Sadly, we don't have docs. There's another [contributing file](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/CONTRIBUTING.md) that you can read for now. The setup is identical in our repositories.

To get started you will have to

- fork this repo
- clone your repo locally
- run `npm ci`
- run `npm test`, everythi

[2020-07-28 20:22] patoncrispy commented on #47
Nah that's perfect. Thanks!

[2020-07-29 12:00] #47 closed

[2020-07-29 17:43] timdeschryver commented on #47
@patoncrispy did you had to do something else that wasn't in the list above?
I'm asking since I'm going to use it as a baseline to create the contributing docs.

[2020-07-29 18:05] patoncrispy commented on #47
No, that was actually pretty on the money. I did have to update my fork, so it might be worth including a bit on that, maybe? The GitHub docs on updating forks are pretty good though.

[2020-07-29 18:05] patoncrispy commented on #47
https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/syncing-a-fork

[2020-07-30 07:42] #37 closed

[2020-11-30 02:23] rafaelss95 opened #55 "Enforce the use of interface for lifecycles"
Similar to what we have in [**`codelyzer#useLifecycleInterface`**]( https://github.com/mgechev/codelyzer/blob/5bfc15cacd688fb9057a4ed357d8a0814bb53be6/src/useLifecycleInterfaceRule.ts), I want to suggest the creation of a rule to enforce the use of interface when using the [**`NgRx effects lifecycle`**](https://github.com/ngrx/platform/blob/e8fe9fdc6f8603de949f8dc50701fe21a762f13f/modules/effects/

[2020-12-02 17:32] timdeschryver commented on #55
Do you want to create a PR for this @rafaelss95 ?

[2020-12-03 18:53] timdeschryver commented on #55
I'm working on this.

[2020-12-03 19:53] #55 closed

[2020-12-04 06:57] timdeschryver commented on #55
@all-contributors please add @rafaelss95  for ideas

[2020-12-14 11:41] dev054 opened #58 "New rule: prefer-ngrxPush over async pipe"
Hey @timdeschryver great lib, btw! I wonder if we could have a rule that enforces the preference of `ngrxPush` instead of `async`... I don't know if it's in the scope of the project as I didn't see any template rule (and in fact I have much low knowledge about this world in general).

[2020-12-22 09:59] timdeschryver commented on #58
Hi @dev054 , the push pipe is experimental, so I'm hesitant to add this rule.

[2021-01-08 14:18] craig-dae opened #60 "Rule Request: No duplicate Action names"
Rule Request: Provide a rule that will catch the following mistake, where the same action name was used twice, causing a potential infinite loop in the `effects`:

[code]

[2021-01-09 13:13] timdeschryver commented on #60
Hi, thanks for reaching out.
This was a part of ngrx-tslint-rules, be we didn't port it over to the eslint version because it is now part of NgRx.
You can enable the [strictActionTypeUniqueness
 runtime check](https://ngrx.io/guide/store/configuration/runtime-checks#strictactiontypeuniqueness), which will throw an error when an action type is registered twice.

[2021-01-09 13:13] #60 closed

[2021-01-11 18:20] craig-dae commented on #60
Just applied this to my configuration. This is perfect. Thanks!

[2021-01-18 13:20] rafaelss95 opened #61 "[no-multiple-actions-in-effects] not reporting for *-MapTo operators"
Example:

[code]

It seems that `*MapTo` operators are missing from:

https://github.com/timdeschryver/eslint-plugin-ngrx/blob/48afe768e45da866681d59df0fe8229aeb7ddf5e/src/utils/selectors/index.ts#L31

[2021-01-18 17:39] timdeschryver commented on #61
Good catch @rafaelss95, I haven't thought of these !
Feel free to create a PR if you want, otherwise I'll probably add this change somewhere during next week.

[2021-01-19 03:09] rafaelss95 opened #63 "[action-hygiene] reports any call expression that starts with createAction"
Examples:

[code]

This can be easily fixed [here](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/48afe768e45da866681d59df0fe8229aeb7ddf5e/src/utils/selectors/index.ts#L5):

[code]

<hr>

@timdeschryver if you agree I can submit a PR for this.

[2021-01-19 03:11] rafaelss95 commented on #39
Instead of creating a new rule, would it be weird to implements this directly in `action-hygine` rule?

[2021-01-20 07:05] timdeschryver commented on #63
Feel free to change this @rafaelss95 , thanks!
The reasoning behind this was a custom `createAction` implementation, but it doesn't make sense to add this here 😅

[2021-01-20 12:45] #63 closed

[2021-01-20 13:12] #61 closed

[2021-01-20 13:22] #58 closed

[2021-01-30 14:12] timdeschryver opened #66 "New rule: action prop name"
Ref: https://github.com/ngrx/platform/issues/2892

[2021-01-31 19:34] rafaelss95 commented on #66
Hey Tim, could you clarify what expectations of success and fail with this rule? I'm interested on working on this if possible.

[2021-02-01 11:58] timdeschryver commented on #66
I prefer inline types in props instead of using interfaces, e.g.

[code]

[2021-02-05 07:28] #66 closed

[2021-02-07 22:43] rafaelss95 opened #74 "[avoid-mapping-selectors] Unexpected behaviors"
1. It doesn't report when we use something other than `store`:

`readonly userName$ = this.store$.select(AuthSelectors.selectUser).pipe(map(({ name }) => name))`

We generally use` store$` in our project, for example, but IMHO the rule shouldn't rely on the variable name as each project has its own naming conventions.

2. It doesn't report when we use `store.pipe` instead of `store.select`:

`read

[2021-02-07 22:46] rafaelss95 opened #75 "[avoid-combining-selectors] Unexpected behaviors"
Similar to #74,

1. It doesn't report when we use something other than `store`:

`readonly something$ = combineLatest(this.store$.select(AuthSelectors.selectUser), this.store$.select(AuthSelectors.something))`

2. It doesn't report when we use `store.pipe` instead of `store.select`:

`readonly something$ = combineLatest(this.store$.pipe(select(AuthSelectors.selectUser)), this.store$.select(AuthSel

[2021-02-07 22:50] rafaelss95 opened #76 "An option or a rule to forbid the use of operators with `select`"
Not sure if it's outside of the scope of the rule `avoid-mapping-selectors`, but I'd like have a way to forbid the use of any operator with `store.select`/`store.pipe(select)`, so these would be invalid:

[code]

[2021-02-07 22:53] rafaelss95 opened #77 "Create a config that exposes all the rules in the package"
Similar to what we have in [**angular-eslint**](https://github.com/angular-eslint/angular-eslint/blob/ea133b4f5302385e6e6971f027a164e025ad1472/packages/eslint-plugin/src/configs/all.json), I'd like to propose the creation of the config that exposes all the rules in this package.

[2021-02-07 22:57] rafaelss95 opened #78 "Document rules fixes/suggestions"
I'm creating this so that we don't forget to document what we discussed at https://github.com/timdeschryver/eslint-plugin-ngrx/pull/67 :)

As a suggestion it could be something like [**this**](https://github.com/cartant/eslint-plugin-rxjs#rules).

[2021-02-08 13:44] timdeschryver commented on #77
Looks good to me 👍

[2021-02-08 13:49] timdeschryver commented on #75
Do you know if we find the store name at runtime?
If not, we can look for `store` and `store$` this will cover most of the cases by default.

Having a parameter for the rule also works, but then every rule needs to be configured.
IIRC there's also a global config that we can use where the user can provide a store name. (we can also create a new rule based on this to keep the store's name consisten

[2021-02-09 11:11] pacoita opened #79 "Type issue on strict mode if I follow "no-store-type" rule"
I have an Angular project (strict mode) in an NX monorepo. If I run the lint command I get the error `no-store-type` (see below) as I use the partial state for the Store.

![Screenshot 2021-02-09 at 12 05 07](https://user-images.githubusercontent.com/13237093/107355115-5282a400-6acf-11eb-90d1-55db8db6dfa0.png)

However if I remove it (as the selector should already being able to correctly infer th

[2021-02-09 15:41] timdeschryver commented on #79
We're tracking this issue in the NgRx repo at https://github.com/ngrx/platform/issues/2780
I think we'll configure this rule as a warning because of this.

[2021-02-09 15:48] pacoita commented on #79
Thanks @timdeschryver. I will ignore in my project for the time being then.

[2021-02-09 15:48] #79 closed

[2021-02-09 16:13] timdeschryver commented on #75
Fyi, I didn't add this because we recommend `store.select`.
But I agree that the other case should also be covered 😅

[2021-02-09 18:15] timdeschryver commented on #76
The `avoid-mapping-selectors` rule is there because you can solve this by creating a new selector. This is a best practice because it's easier to read and to test.

The new proposed rule can be more strict, but I wouldn't add it to the recommended rules because it might make sense to filter values from a selector when the store isn't populated yet, or to use a debounce operator for performance rea

[2021-02-10 02:39] rafaelss95 opened #81 "Use guards from eslint-etc"
I'm creating this issue to make sure we don't forget the discussion on https://github.com/timdeschryver/eslint-plugin-ngrx/pull/72#discussion_r572065340

[2021-02-10 03:10] rafaelss95 commented on #75
Yes, please 🙏

This option is really nice, I didn't know it until now 😄

Aha, that's fine. After the merge of #80 I can send a PR that cover this :)

[2021-02-10 18:36] timdeschryver opened #82 "Refactor avoid-dispatching-multiple-actions-sequentially and use-selector-in-select"
Coming from https://github.com/timdeschryver/eslint-plugin-ngrx/pull/80#issuecomment-776566485

[2021-02-17 20:20] bopm opened #86 "False-positive for ngrx-avoid-dispatching-multiple-actions-sequentially in subscriptions"
Having onNgInit of my component like this:

[code]
leads to false-positive ngrx-avoid-dispatching-multiple-actions-sequentially on second and third dispatch.

[2021-02-18 08:19] #82 closed

[2021-02-18 17:58] bopm commented on #86
@timdeschryver I was suspecting that. Another reason to speed-up migration for me.

[2021-02-21 07:59] #86 closed

[2021-02-21 08:11] timdeschryver opened #89 "💡 New Rule: Consistent store name"

[2021-03-08 18:15] tarlepp opened #91 "false positive with `ngrx/no-reducer-in-key-names`"
If I use something like;

[code]

In my main module I get that error - but that key is actually used on store itself - so I think that in this special case this should be skipped.

![image](https://user-images.githubusercontent.com/595561/110363255-ff0e6200-804a-11eb-837a-15165fa72ef9.png)

[2021-03-08 18:16] timdeschryver commented on #91
This is a 🐛.
Thanks for the report @tarlepp !

[2021-03-10 16:35] #91 closed

[2021-03-10 18:46] tarlepp commented on #91
@timdeschryver great! thanks alot for quick fix!

[2021-03-22 20:35] rainerhahnekamp opened #97 "[avoid-combining-selectors] derived state from multiple feature states"
Hi, I have a question about the "Avoid Combining Selectors" rule.

Suppose you two have modules with their own feature states. The interfaces of these modules are implemented following the facade pattern and expose parts of their state as Observables. Module A has a dependency to Module B's exposed state.

It would not be possible to use the observables of my facade in module's A selectors, becaus

[2021-03-23 12:08] timdeschryver commented on #97
Hi, that's a good question.

As I don't use facades I don't run into this problem 😅.
I think disabling this rule would be the way to go, as I don't see a workaround for this and this structure is valid for facades.

If we notice that more rules need to be disabled to be able to work with facades, we could introduce a "facade config".

[2021-03-23 15:40] rainerhahnekamp commented on #97
Hi, thanks for your quick answer.
I guess the generic term would be a module's API. Facade is just one possible design pattern. Either way, thanks Tim!

[2021-03-23 15:40] #97 closed

[2021-03-29 15:10] minijus opened #100 "💡 New Rule: prefer concatLatestFrom"
With version 11 NgRx has `concatLatestFrom` lazy operator which should be used instead of eager operators `withLatestFrom`. This would be applicable for effects and if possible for components/services.

Documentation on `concatLatestFrom`: https://ngrx.io/guide/effects/operators#concatlatestfrom

[2021-03-30 16:34] nolafs opened #101 "An unhandled exception occurred: Error while loading rule 'ngrx/avoid-combining-selectors': Cannot read property 'find' of undefined"
Getting the following error

An unhandled exception occurred: Error while loading rule 'ngrx/avoid-combining-selectors': Cannot read property 'find' of undefined

[2021-03-30 17:30] timdeschryver commented on #101
Hi thanks for opening this issue @nolafs . By any chance, do you know which code causes this exception?

[2021-04-02 12:22] timdeschryver commented on #101
I was unable to reproduce this, so I tried a to fix the bug...
Could try against v1.17.4 please?

[2021-04-03 10:10] nolafs commented on #101
Test it, the previous error seems to be resolved but I am getting new one now.

An unhandled exception occurred: Error while loading rule 'rxjs/no-cyclic-action': You have used a rule which requires parserServices to be generated. You must therefore provide a value for the "parserOptions.project" property for @typescript-eslint/parser

`{
  "root": true,
  "ignorePatterns": [

  ],
  "overrides":

[2021-04-03 10:19] nolafs commented on #101
Thanks, it working now.

[2021-04-03 11:07] timdeschryver commented on #101
Thanks for the update @nolafs 👍

[2021-04-03 11:07] #101 closed

[2021-04-14 17:26] timdeschryver commented on #81
Let's refactor this with the implementation of @MichaelDeBoey.
We can take inspiration from the eslint plugin of testing-library (https://github.com/testing-library/eslint-plugin-testing-library/pull/329)

[2021-04-14 18:01] MichaelDeBoey commented on #81
PR is created: https://github.com/timdeschryver/eslint-plugin-ngrx/pull/106

[2021-04-14 18:02] #81 closed

[2021-04-27 12:28] timdeschryver commented on #100
That's a good idea @minijus
If you want, feel free to open a PR..

[2021-04-28 17:40] timdeschryver commented on #78
This is included while we [generate the readme](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/master/scripts/generate-readme.ts).

[2021-04-28 17:40] #78 closed

[2021-04-28 18:13] timdeschryver commented on #39
@rafaelss95 not really, since this will also verify action method names, not only the type of an action.

[2021-05-03 11:04] #100 closed

[2021-05-03 11:52] #77 closed

[2021-05-06 00:22] david-shortman opened #127 "Update doc for prefer-concat-latest-from"
It should be
`concatLatestFrom(() => this.store.select(selectProducts)),`

_Originally posted by @minijus in https://github.com/timdeschryver/eslint-plugin-ngrx/pull/122#r625016619_

[2021-05-06 07:00] timdeschryver commented on #127
😅 thanks, I totally overlooked that, and also the comment on the PR.
Feel free to open a Pull Request.

[2021-05-06 20:42] timdeschryver commented on #16
All rules are documented and can be found [here](https://github.com/timdeschryver/eslint-plugin-ngrx/tree/master/docs/rules) 🎉

[2021-05-06 20:42] #16 closed

[2021-05-07 03:35] david-shortman commented on #127
lol no prob got one open

[2021-05-07 09:39] #127 closed

[2021-05-07 10:34] qirex opened #131 "readme: wrong ng add comannd"
I guees ng add has to match the npm package name.

output of  `ng add ngrx-eslint-plugin` (as suggested in the readme)

`ng add eslint-plugin-ngrx` works :)

[2021-05-07 10:56] timdeschryver commented on #131
🤦‍♂️ my bad...

Do you want to create a Pull Request for this @qirex ?

[2021-05-07 11:07] qirex commented on #131
first github pr for me. :)

[2021-05-10 15:49] DaSchTour opened #135 "Somewhat false error with use-selector-in-select"
First of all thanks for the great plugin. It helps a lot with improving handling of NGRX. I have somewhat of an edgecase that gives a false warning for the `use-selector-in-select` rule.

When using a static string as a prop for another selector it is reported like beeing a selector.
For example having something like this
`this.store.select(hasAuthorization, 'ADMIN')` triggers this rule, although

[2021-05-10 17:49] DaSchTour commented on #135
Oh boy, next big refactoring 😄 thanks for the information. So maybe an eslint rule to identify these selectors would also be helpful. At first glance I have a lot of them. And they are not always easy to spot.

[2021-05-11 17:43] #135 closed

[2021-05-13 19:24] #89 closed

[2021-05-14 07:44] ngohungphuc opened #139 "An unhandled exception occurred: Error while loading rule 'rxjs/no-cyclic-action'"
## Rule Name

 'rxjs/no-cyclic-action'
## Behavior

You have used a rule which requires parserServices to be generated. You must therefore provide a value for the "parserOptions.project" property for @typescript-eslint/parser.
## Code snippet

[code]

[2021-05-14 07:57] #139 closed

[2021-05-23 15:23] yourkungfunogood commented on #139
@ngohungphuc I am running into a similar issue. Were you able to resolve this through a configuration change?

[2021-05-24 10:51] ngohungphuc commented on #139
@yourkungfunogood Can you tried with my config

[code]

[2021-05-24 11:36] timdeschryver commented on #139
@yourkungfunogood  you should move the ngrx plugin and extends in the '*.ts' override.
The ng-add schematic has been updated in the latest version to address this problem.

[2021-05-25 19:21] yourkungfunogood commented on #139
Got it. Thanks for the help!

[2021-05-28 17:02] KingDarBoja opened #148 "Bug: Error while loading rule 'rxjs/no-unsafe-catch'"
## Rule Name

`rxjs/no-unsafe-catch`

## Behavior

Occurred while linting D:\Programming\angular_projects\ngfire-showcase\libs\job-post\feature\src\index.ts

## Explanation

Been using nx workspace and decided to setup this eslint plugin in one of my libraries.
Noticed that running `nx run job-post-feature:lint --fix` yields above error.

My `.eslintrc.json` file in my library:

[code]

The root `

[2021-05-30 08:35] timdeschryver commented on #148
How do I reproduce this?
I cloned your repo, but it seems to be working.
Can you make sure everything is installed correctly by removing the node_modules and installing them again?

[2021-05-30 14:48] KingDarBoja commented on #148
Tried it but still got same error message with `nx run job-post-feature:lint --fix` :/

[2021-05-30 18:32] #148 closed

[2021-06-14 10:57] timdeschryver opened #152 "💡 New rule: Explicit return type for updater"
## Information about the new rule

Similar to [on-function-explicit-return-type](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/main/docs/rules/on-function-explicit-return-type.md), but then for a component-store updater. More info at https://github.com/ngrx/platform/issues/2851.

## A snippet of incorrect code

[code]

## A snippet of correct code

[code]

## I would be willing to submi

[2021-06-23 21:04] timdeschryver commented on #152
Closed by #153

[2021-06-23 21:04] #152 closed

[2021-07-06 11:37] alogim commented on #79
Any news about this problem? I just started to use this plugin and I am facing the same error described by @pacoita.

[2021-07-12 14:55] robinpellegrims opened #154 "Readme: 404 for link to docs on ngrx/avoid-duplicate-actions-in-reducer"
The link in the README file for the `ngrx/avoid-duplicate-actions-in-reducer` rule is referencing a page that does not exist.

Currently it is referencing
[code]

while I suppose it should be referencing

[code]

Let me know if you want me to create a PR (though the fix is fairly simple :-))

[2021-07-12 15:22] timdeschryver opened #155 "💡 New Rule: createFeatureSelector should only be used with 1 generic for the feature state"
## Information about the new rule

https://github.com/ngrx/platform/issues/2849#issuecomment-752717086

## A snippet of incorrect code

[code]

## A snippet of correct code

[code]

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-07-12 15:52] timdeschryver commented on #154
Thanks for opening this issue @robinpellegrims .
I kind of went straight ahead and "implemented" the fix, sorry 🙈.

[2021-07-12 16:02] #154 closed

[2021-07-14 07:19] ValentinBossi commented on #155
happy to see the "Rule Details" part! :)
maybe some sentences about lazy loading?

[2021-07-16 13:03] timdeschryver commented on #155
Closed by #157

[2021-07-16 13:03] #155 closed

[2021-07-19 15:33] #75 closed

[2021-07-23 16:06] #74 closed

[2021-07-26 16:06] timdeschryver opened #164 "Bug avoid-mapping-selectors"
This is a valid snippet.

[code]

[2021-07-26 16:15] #164 closed

[2021-07-31 11:30] timdeschryver opened #166 "New Rule: No Subscribe"
## Information about the new rule

## A snippet of incorrect code

[code]

## A snippet of correct code

[code]

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-08-12 20:37] prince-chrismc opened #168 "New Rule: Use `select` In Selector names"
## Information about the new rule

https://redux.js.org/style-guide/style-guide#name-selector-functions-as-selectthing
Which is inline with NgRx ex https://github.com/ngrx/platform/pull/2151

## A snippet of incorrect code

[code]

## A snippet of correct code

[code]

## I would be willing to submit a PR for the docs :heart:

- [x] Yes (Assistance is provided if you need help submitting a pull re

[2021-08-13 11:44] timdeschryver commented on #168
🤩 I like it!
If you want, feel free to create a PR!

[2021-08-13 16:15] #166 closed

[2021-08-17 16:48] timdeschryver commented on #168
Hey @prince-chrismc, do you want to create a Pull Request to add this rule?

[2021-08-17 21:53] prince-chrismc commented on #168
Yes! I started the work but I might need help with the eslint selector 🤔

[2021-08-20 07:12] alogim opened #170 "ESLint couldn't find the plugin "eslint-plugin-rxjs"."
If I run `eslint -c .eslintrc.json . --ext .json,.html,.ts,.md` in my project, I get the following output:
[code]

My .eslintrc.json contains the following section and others which do not use the ngrx plugin:
[code]
I have `"eslint-plugin-ngrx": "^1.28.0"` in my package.json. Do I also need `eslint-plugin-rxjs` in my package.json? It is not mentioned in the documentation though.
Can anyone help?

[2021-08-20 07:22] alogim commented on #170
Never mind, deleting the node_modules folder and running npm install again fixed the problem.

[2021-08-20 08:01] alogim commented on #170
If I comment the above section in my .eslintrc.json everything works fine. So it seems that package is needed?

[2021-08-20 11:41] timdeschryver commented on #170
@alogim you need to that dependency, but I thought it would be installed automatically 🤔

[2021-08-22 15:47] #168 closed

[2021-08-22 17:39] timdeschryver commented on #170
@alogim have you tried removing the `node_modules` and to run `npm install` again?

[2021-08-30 08:26] DaSchTour opened #174 "False positive with combineLatest (ngrx/avoid-mapping-selectors)"
## Behavior

When combining store with another observable and map the linter tells me to use selectors

## Code snippet

[code]

## I would be willing to submit a PR to fix this issue :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2021-08-30 10:15] e-oz opened #175 "False positive for no-store-subscription"
## Behavior

It highlights not only subscriptions to the store, but just any subscription if a store is involved.

## Code snippet

[code]

[2021-08-30 15:50] #175 closed

[2021-08-30 15:56] timdeschryver commented on #174
@rafaelss95 you can reproduce this if you add the following fixture to the valid cases of `avoid-mapping-selectors`. Are you going to work on this?

[code]

[2021-08-30 16:36] rafaelss95 commented on #174
Danm, I was testing without import declaration 🤦. Sorry for this! But yes, I could try to solve this issue as well.

[2021-08-30 17:20] timdeschryver commented on #174
@rafaelss95 no problem!
Please take your time, I didn't meant to rush you - I just wanted to make sure we didn' work on the same issue.

[2021-08-31 04:53] rafaelss95 opened #179 "Add more fixers/suggestions"
## Information about the new behavior
Thinking about a better DX, we could add fixers/suggestions for some more rules.

| Rule                               | Fixer                                                | Suggestions                                                               | PR <a href="">#<a> |
|------------------------------------|---------------------------------------------------

[2021-08-31 16:19] #174 closed

[2021-08-31 16:39] timdeschryver commented on #179
I would like to know what the fixer/suggestion would do 😅
Also, the `@effect` decorator will be removed soon - so this is also a low prio for me.

Am I correct to assume that the fixer/suggestion would do the following?
no-dispatch-in-effects: remove the dispatch
no-effects-in-providers: remove the provider
no-multiple-global-stores: remove one store, what about the references to that store?
no-re

[2021-08-31 17:17] rafaelss95 commented on #179
✅

✅

As it's a suggestion, I don't think we should try to change all references because that can be quite problematic as people might be using it in template, in a subclass or in even in a test 🤷🏿.

I actually suggested it as a suggestion, so it would be up to developers whether or not to follow the tip 😅

Same as above for `no-reducer-in-key-names`.

✅

Same as `no-multiple-global-stores`.

[2021-08-31 18:07] timdeschryver commented on #179
So, if I understand correctly a suggestion could be used as: "hey, this is how it would look like - it's up to you to fix related problems"?

[2021-08-31 18:34] rafaelss95 commented on #179
Well, that's basically my point of view on the suggestions topic. IMHO, [providing suggestions](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions) can serve both as a help for the developer to resolve this report (not necessarily fixing all related issues) - (see [**`@angular-eslint/template/no-any/cases`**](https://github.com/angular-eslint/angular-eslint/blob/a446e

[2021-09-01 12:07] timdeschryver commented on #179
Thanks @rafaelss95

[2021-09-07 18:17] timdeschryver opened #192 "ng-add schematic adds this plugin multiple times"
## Behavior

I've run the `ng add` schematic on the NgRx repo, and the result was that the NgRx ESLint plugin was added multiple times to the same config.

## Code snippet

[code]

and

[code]

## I would be willing to submit a PR to fix this issue :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-09-09 17:04] timdeschryver opened #196 "Angular ESLint Utils"
This issue is here to remind us to take a look at the Angular ESLint Utils (https://github.com/angular-eslint/angular-eslint/pull/676) and maybe refactor some of our code to use those utils where possible.

[2021-09-11 07:50] #192 closed

[2021-09-12 23:46] urielzen commented on #34
I am sorry to ask a following question on a closed issue.
I am using ngrx 12.4.0 and getting this warning "Store should not be typed, use `Store` (without generic) instead"

my injected store was typed, and when trying to remove the type to fix this warning, I have compilation errors in my selectors.

My selector
[code]

In my component
[code]

The last line above on `this.store.select()` gives th

[2021-09-13 09:28] timdeschryver commented on #34
@urielzen see #79

[2021-09-15 14:59] rafaelss95 commented on #179
@timdeschryver what do you think about adding suggestion for `avoid-duplicate-actions-in-reducer` too?

---

Not really related to this issue, but what would be the difference between prefixing some rules with "avoid-" and others with "no-"? I always had this curiosity 😅

[2021-09-15 15:59] rafaelss95 opened #206 "Setup an internal package for repo maintenance"
To track the plans about the linter for repo maintenance discussed a bit at https://github.com/timdeschryver/eslint-plugin-ngrx/pull/185#issuecomment-913007070.

[2021-09-15 16:01] rafaelss95 opened #207 "Add documentation about suggestions on README"
## Information
Documentation about suggestions on README.

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-09-15 16:49] timdeschryver commented on #179
@rafaelss95 yea, with the recently added suggestions (and your comment https://github.com/timdeschryver/eslint-plugin-ngrx/issues/179#issuecomment-909497581) I kind of see it different now. I think adding the suggestion would be good 👍

`avoid-duplicate-actions-in-reducer`, yes that's fine by me. Would it remove the selected line, or the other violations of the rule?

I thought of `avoid-` as a gu

[2021-09-15 16:49] timdeschryver commented on #206
Feel free to take this one @rafaelss95

[2021-09-15 16:50] timdeschryver commented on #207
Do you want to work on this, or can I? 😁
It might take a week before I can pick this one up though.

[2021-09-15 17:13] rafaelss95 commented on #179
✅

It would remove the whole `CallExpression`, for example:

[code]

It makes perfect sense! Thanks for clarifying :)

[2021-09-15 18:42] #207 closed

[2021-09-15 18:42] timdeschryver commented on #207
Oh, I misread the issue; I was thinking about also adding this information to the docs of the rules doc.

[2021-09-15 19:52] rafaelss95 commented on #206
Do you have something in mind? Like.. where should I start?

[2021-09-15 19:52] rafaelss95 commented on #207
Hmm, do you think it's still necessary to document this in each rule?

[2021-09-16 16:24] timdeschryver commented on #196
@rafaelss95 I noticed you've creating an issue at eslint-rxjs to allow suggestions in  `fromFixture`.
My idea was to use the test utils from the angular-eslint, do you have an opinion about this?

[2021-09-16 20:03] rafaelss95 commented on #196
Yes, I opened a problem there because it would help us at the moment, since we are currently using `fromFixture`, but I have no objections to using [**`convertAnnotatedSourceToFailureCase`**](https://github.com/angular-eslint/angular-eslint/blob/9dc44c14b101dd4863447c2466fad3f1c2c5e03c/packages/utils/src/test-helpers.ts#L142).

[2021-09-18 15:45] rafaelss95 commented on #179
I was looking at existing suggestions and was curious to see if there is any specific reason why `prefer-concat-latest-from` offers a suggestion and not a direct fix...

[2021-09-18 15:49] rafaelss95 opened #217 "Setup coverage"
It'd be great to have coverage as part of our CI.

It seems like `uvu` has some recommendations here: https://github.com/lukeed/uvu/blob/1d753576ffab2dd28b309bb5c296a43d0800321c/docs/coverage.md#coverage.

[2021-09-18 17:41] timdeschryver commented on #179
@rafaelss95 that's indeed a good question! I can't remember why we did it like that, it can be converted to a fix for me 👍

[2021-09-18 23:29] rafaelss95 commented on #179
The funny part is that it's already marked as `fixable` 😅:

https://github.com/timdeschryver/eslint-plugin-ngrx/blob/dc1ff4ab7d9cdcac777e5fd7d2d686ea4c028170/src/rules/effects/prefer-concat-latest-from.ts#L28
<sup>The same is incorrect for `no-typed-global-store`</sup>

---

Btw, the following case is currently producing compilation error:

[code]

But in general yes, I think we could offer a fixe

[2021-09-19 08:05] timdeschryver commented on #179
😅 I think that the suggestion doesn't break things (e.g. `concatLatestFrom(this.store$.select(something))`)?
Also, keep in mind that `concatLatestFrom(action => this.store$.select(action .something))` is also valid.
For the overload with the projector, we can leave it as a suggestion, or we can make it even smarter (perhaps that this will be done in a RxJS linter/migration because that syntax is n

[2021-09-19 15:58] rafaelss95 commented on #179
For this lase case, perhaps we could provide an option (something like `strict` 🤔) so people can decide if they want to maintain `of(action).pipe(withLatestFrom(something))` version even if it would be shorter with `concatLatestFrom(() => this.select(something)`?

[2021-09-22 13:46] srnec opened #223 "Bug ngrx/avoid-cyclic-effects"
## Behavior
I don't see any cyclic issue here but I am getting this rule violation from eslint.
I am not sure how internally it is evaluated such an effect like this. Maybe just a naming issue?

## Code snippet

[code]

## I would be willing to submit a PR to fix this issue :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2021-09-23 17:23] timdeschryver commented on #223
What version of our linter are you using?
Could you also share the actions definitions please, or a reproduction.

[2021-09-23 17:29] timdeschryver commented on #223
I tried to reproduce this, and my guess is that one of the succes or error actions has a similar action type to  `postPortInData`

[2021-09-25 20:22] #206 closed

[2021-09-28 13:34] timdeschryver opened #230 "Bug fixer of no-dispatch-in-effects"
## Behavior

The fixer introduced in #220 doesn't cover all cases and leads to incorrect behavior.

## Code snippet

In the following code snippet, the fixer removes the `dispatch` which is fine.

[code]

But if we replace the `map` operator with the `tap` operator the fix is the same:

[code]

This changes the behavior because now, `BooksApiActions.searchSuccess` isn't dispatched.
I think this ca

[2021-09-28 13:34] timdeschryver commented on #223
Feel free to reopen with more information if that isn't the case @srnec

[2021-09-28 14:51] rafaelss95 commented on #230
Oh man, I didn't really think about this case. I don't think there's really a way to make the fix secure, as `store.dispatch` can appear anywhere, not just inside a `map`.

And another thing worth mentioning is that some tests don't even compile if copied into a real application (from what I've seen it's been like this since the creation of the rule, it's not something that's been added recently),

[2021-09-28 15:24] timdeschryver commented on #230
your call @rafaelss95 , I'm fine either way 😁

[2021-09-28 21:05] srnec commented on #223
Hi Tim!

Sorry, I was too busy with pandemic related stuff.

here are the action definitions:
[code]

but I don't see anything wrong here, or something suspicious.

[2021-09-29 06:15] #217 closed

[2021-09-29 06:16] #230 closed

[2021-09-29 07:14] timdeschryver commented on #223
I was also able to reproduce it now, seems like the culprit is the generic that is passed to the `ofType` operator.
I'll take a look if we can provide a fix for these cases.

[2021-09-29 22:39] rafaelss95 commented on #223
Should we reopen this then?

---

@srnec sorry, but out of curiosity, is there any reason to use the _old_ way of action creation?

@timdeschryver maybe it would be a good idea to create a rule for this..

[2021-09-29 23:26] rafaelss95 opened #238 "A rule to enforce `.dispatch(action())`"
## Information about the new rule
As mentioned in https://github.com/timdeschryver/eslint-plugin-ngrx/pull/211#discussion_r712270311, we could create a rule for this.

Do you have any name in mind?

## A snippet of incorrect code
[code]

## A snippet of correct code
[code]
## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull

[2021-09-29 23:28] rafaelss95 opened #239 "A rule to enforce `ofType(NON_STRING)`"
## Information about the new rule
As mentioned in https://github.com/timdeschryver/eslint-plugin-ngrx/pull/211#discussion_r711401470, we could create a rule for this.

Do you have any name in mind?
- `no-of-type-literal`?
- `use-actions-in-of-type`? (taking the idea of `use-selector-in-select`)
- `prefer-actions-in-of-type`?
- other...

## A snippet of incorrect code
[code]

## A snippet of correc

[2021-09-30 04:48] rafaelss95 commented on #239
Worth mentioning that this rule is simple achievable using `no-restricted-syntax`:

[code]

... or am I missing something?

[2021-09-30 06:26] srnec commented on #223
Yes we can

If the effort for the fixing this issue is too high then it is not worth but I can imagine there are huge projects that contain a lot of actions and reducers (yes, don't forget about reducers because based on my knowledge, if you switch to new actions you have to switch reducers where it is used as well).

Short story short, I think it is worth to fix it if the effort for fixing is rea

[2021-09-30 13:13] timdeschryver commented on #223
I thought I had reopened this yesterday 😅
But yea, I agree... it could be harder than expected to get this resolved. If that's the case I think a note should be enough 😅

[2021-09-30 13:39] timdeschryver commented on #239
That should do the trick, but this also means that:

- we can't verify that `ofType` is from NgRx
- we can't create a docs page (I think)

If we would create the rule, my vote goes to `use-actions-in-of-type` to keep it consistent

[2021-09-30 13:40] timdeschryver commented on #238
What about `use-actions-in-dispatch` ?

[2021-09-30 14:07] rafaelss95 commented on #239
Hmm, is this really a problem? I mean, for example, `createEffect` we don't verify this either.

Yes, that could be a con.

✅

[2021-09-30 14:12] rafaelss95 commented on #238
My only concern to this name is that `this.store$.dispatch(new MyAction())` would be flagged as well.. so imagine users asking theirselves: "wait, isn't `new MyAction()` an action? Is this a incorrect report?" 🤔

Maybe something like `use-action-creator-in-dispatch`?

[2021-09-30 14:33] timdeschryver commented on #238
Works for me 👍

[2021-09-30 15:46] rafaelss95 commented on #223
I tried to reproduce this locally, but I failed. Do you mind to point me what I'm missing here? https://github.com/rafaelss95/eslint-plugin-ngrx/commit/298461db3b69c6f2176ece1d182c7f01e48fdd7a

Currently it report 0 errors (I put the error range randomly, just for test).

[2021-09-30 15:57] timdeschryver commented on #223
@rafaelss95 this should do it (no `catchError` case, because an effect should always return an action so returning null makes it not compile).

[code]

[2021-09-30 17:53] rafaelss95 commented on #223
I hope the fix in #241 is correct 🙏

About disallowing the `Action` classes, I wrote something in https://github.com/timdeschryver/eslint-plugin-ngrx/discussions/134.

[2021-10-01 03:14] rafaelss95 opened #242 "Some bugs in rules that deals with `ClassProperty`"
## Behavior
As mentioned in https://github.com/timdeschryver/eslint-plugin-ngrx/pull/234#discussion_r718911787, we should investigate/correct (if necessary) those rules.

| Rule                                        | PR <a href="">#<a> |
|---------------------------------------------|--------------------|
| `avoid-cyclic-effects`                      | #246                   |
| `no-dispatch-in-

[2021-10-01 08:05] #223 closed

[2021-10-01 23:55] rafaelss95 commented on #242
Should it be better to fix the `prefer-concat-latest-from` before or after merging #234?

[2021-10-02 17:48] #238 closed

[2021-10-02 17:55] timdeschryver opened #253 "rename `use-selector-in-select` to `prefer-selector-in-select` for consistency"

[2021-10-03 01:43] rafaelss95 commented on #242
I went ahead and made the neccessary changes in #234.

[2021-10-04 12:36] #239 closed

[2021-10-04 13:14] dangrussell opened #255 "Bug prefer-action-creator-in-dispatch"
## Behavior

I'm dispatching an action that takes a props object, which seems to follow the spirit of this rule -- it uses an action creator. Maybe the rule sees the props object in there and thinks it's an action object? It's also possible I could be writing this better :)

## Code snippet

Problem line that trips the rule:
`this.store.dispatch(Auth.Login({ payload: $event }));`

Underlying actio

[2021-10-04 13:22] dangrussell commented on #255
Just checked, and this approach does not trigger the rule:

[code]

[2021-10-04 13:46] rafaelss95 commented on #255
Impressive that you are already using such a new rule 😅! Thanks for the report, I'll take a look ASAP :)

[2021-10-04 16:50] #179 closed

[2021-10-04 16:50] #242 closed

[2021-10-05 14:52] tarlepp commented on #255
Yeah, I noticed this same issue on my project - waiting for #256 to be merged and new release of this pluing.

[2021-10-12 12:30] timdeschryver opened #258 "ESLint 8 support"
Required changes:

- [x] Changes `suggestions` to `hasSuggestions` (reference(s): https://github.com/eslint/eslint/pull/14573 and https://github.com/typescript-eslint/typescript-eslint/pull/3737);
- [ ] Remove `category` (rules + doc gen.) (reference(s): https://github.com/eslint/eslint/pull/14594 and https://github.com/typescript-eslint/typescript-eslint/pull/3800);
- [x] Set the minimum required

[2021-10-20 15:16] alorle opened #261 "Bug ngrx/prefix-selectors-with-select rule does not accept variables with numbers in their name"
## Behavior

`ngrx/prefix-selectors-with-select` rule does not accept variables with numbers in their name.

## Code snippet

The following code
[code]
throws:
[code]

## I would be willing to submit a PR to fix this issue :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-22 11:56] #261 closed, assigned to nobody

[2021-11-19 14:29] sikmowe commented on #170
I tried the @PhilFlash workaround but I still got this:
[code]
package.json
[code]
any thoughts?

[2021-11-19 18:57] timdeschryver commented on #170
@sikmowe have you tried using angular eslint v12?
I suppose we need to upgrade to v13 to make it compatible.

[2021-11-19 20:31] sikmowe commented on #170
@timdeschryver thanks for the heads-up! After
`ng add @angular-eslint/schematics@12.7.0`
It worked despite some warnings. I'll keep my eyes here for any updates.

[2021-11-20 21:08] timdeschryver commented on #170
@sikmowe feel free to try out v2-beta.1, which is just released.

[2021-11-22 17:48] sikmowe commented on #170
Cool, @timdeschryver, no errors using 2.0.0-beta.2. Thank you.

[2021-11-23 07:44] #170 closed

[2021-11-23 07:44] #253 closed

[2021-11-23 07:44] #258 closed

[2021-11-23 08:31] timdeschryver commented on #170
The v2 is released 🎉
If there are some problems, feel free to open a new issue.
Thanks!

[2021-12-09 18:38] bryantlikes opened #272 "Bug configuration failed"
## Behavior

    Something went wrong while adding the NgRx ESLint Plugin.
    The NgRx ESLint Plugin is installed but not configured.

    Please see https://github.com/timdeschryver/eslint-plugin-ngrx/#eslint-plugin-ngrx to configure the NgRx ESLint Plugin.

    Details:
    Unexpected token / in JSON at position 1165

Maybe the issue is because I'm using .eslintrc.json instead of .js? Just thou

[2021-12-09 18:47] bryantlikes opened #273 "Bug on-function-explicit-return-type"
## Behavior

[error] TypeError: Cannot read property 'range' of undefined
Occurred while linting [path removed]wizard.reducer.ts:56
Rule: "ngrx/on-function-explicit-return-type"
    at SourceCode.getTokenBefore (C:\code\my-app\node_modules\eslint\lib\source-code\token-store\index.js:298:18)
    at getFixes (C:\code\my-app\node_modules\eslint-plugin-ngrx\dist\rules\store\on-function-explicit-return

[2021-12-09 18:56] timdeschryver commented on #272
Hi, sorry to hear that.
My guess is that there are some comments included in the eslint config file.
Could you please verify that? Thanks!

[2021-12-09 19:05] bryantlikes commented on #272
Yes, you are correct, there are comments in the file.

[2021-12-09 19:22] bryantlikes commented on #273
Create PR #274

[2021-12-09 19:43] timdeschryver commented on #272
👍 thanks for the update @bryantlikes

[2021-12-10 16:53] #273 closed

[2021-12-15 06:57] #272 closed

[2021-12-20 16:43] bryantlikes opened #277 "Create rule to detect duplicate action type"
## Information about the new rule

If a developer does a copy/paste of an existing rule, changes the name and even the props, but does not change the type, then it can lead to very confusing results.

## A snippet of incorrect code

[code]

## A snippet of correct code

[code]

## I would be willing to submit a PR for the docs :heart:

[X] Yes (Assistance is provided if you need help submitting a

[2021-12-20 18:09] timdeschryver commented on #277
I haven't taken a look at it, but to cover this correctly we have to be able to peek into all files because the duplicate can exist in another file. This can be intensive and thus we didn't implement it.

You can use a runtime check though, have a look at https://ngrx.io/guide/store/configuration/runtime-checks#strictactiontypeuniqueness

[2021-12-20 18:49] bryantlikes commented on #277
That works, thanks!

[2021-12-20 18:49] #277 closed

[2021-12-21 19:51] timdeschryver opened #278 "💡 ComponentStore rule to prevent using `get`"
## Information about the new rule

Warn for usage of componentStore.get() outside of effects.

https://ngrx.io/guide/component-store/read#get-method

[2022-01-17 18:41] timdeschryver opened #279 "💡 entityAdapter.getSelectors() should be invoked without params"
https://github.com/ngrx/platform/issues/3270#issuecomment-1014797966

This would also be the first `entity` rule, so we need some extra config to create a specific `entity` config.

[2022-01-25 09:41] PixelatedFigure commented on #279
The only parameter for the getSelector method is a state selector that gets the slice needed for the adapter to properly function, invoking it without parameters assumes the state of the adapter is the root state of the application which is usually not the case.

[2022-02-07 18:38] danielnemetz opened #280 "prefer-concat-latest-from not working for multiple arguments"
## prefer-concat-latest-from should detect `withLatestFrom` with multiple arguments

If `withLatestFrom` is used with more than one observable it should be detected with the given rule. Instead it is ignored and just works for withLatestFrom with one argument at most.

## Works

`withLatestFrom(observable$)`

## Doesn't work

`withLatestFrom(observable$, anotherObservable$)`

[2022-02-07 18:46] timdeschryver commented on #280
Hi Daniel, thanks for opening this issue.
Feel free to provide a fix for this if you want.

My memory is failing me but it seems like we [explicitly check on the argument's length](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/fefd2c99cf8f374d8abd856a76ae0c3485be1eb3/src/rules/effects/prefer-concat-latest-from.ts#L92), but I can't remember why at the moment - I can take a closer look la

[2022-02-12 19:44] #280 closed

[2022-02-14 08:26] NiklasPor commented on #280
Thanks a lot for the quick fix @timdeschryver ❤️  And also thanks a lot for maintaining this great package 👍

[2022-02-14 18:09] timdeschryver commented on #280
@NiklasPor 🤗

[2022-03-03 21:19] potray opened #282 "Bug avoid-mapping-selectors triggered after a switchMap"
## Behavior

Doing a map after a switchMap triggers `avoid-mapping-selectors`.

## Code snippet
[code]

## I would be willing to submit a PR to fix this issue :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2022-03-05 18:52] timdeschryver commented on #282
Is there a reason why this isn't written as an effect?

[2022-03-05 19:00] timdeschryver commented on #282
Hi, thanks for creating the issue.
I suggest to use the `map` operator on the inner observable, and to also include a `catchError`.
See #283 for an example.

[2022-03-07 09:08] potray commented on #282
I see! That works like a charm, thanks!

I'm trying to improve my skills with ngrx and rxjs. Is there a best practice I'm not following in my code?

[2022-03-07 10:56] mattlewis92 opened #284 "Performance regression when using the recommended preset in an nx workspace"
## Behavior

When upgrading to the latest version of this plugin we noticed our CI started running out of memory when linting. Eventually we managed to track it down to this PR: https://github.com/timdeschryver/eslint-plugin-ngrx/pull/264 Because the `tsconfigRootDir` option is not set, the linting is using the root tsconfig file from our nx workspace which includes all files in the workspace. So

[2022-03-07 17:40] #282 closed

[2022-03-16 13:15] Yohandah opened #285 "Bug avoid-mapping-selectors error but using 'this' in the mapping so I can't create a selector"
## Behavior

I have the following snippet in a Guard :

[code]

I want to return a UrlTree if I'm not authenticated, but the follwing error is firing
`Map logic at the selector level instead.(ngrx/avoid-mapping-selectors)`

The problem is that in a selector I can't use dependency injection, so I can't map at the selector level. Maybe the rule should be disabled if `this` is used in the context of

[2022-03-16 17:52] timdeschryver commented on #285
@Yohandah that's actually something that I haven't thought of, thanks for raising this issue!
The proposed fix seems lik a good one to me, we could perhaps later enhance this further by checking where the selector is invoked (if that's possible).

Feel free to try to implement a fix if you want.
If you're stuck and/or need some help, feel free to let me know.

[2022-03-23 19:09] timdeschryver commented on #284
For now, you could disable `ngrx/no-multiple-actions-in-effects` and/or `ngrx/avoid-cyclic-effects` which could resolve the issue for now, until we've found the root cause.

[2022-03-23 19:11] timdeschryver commented on #284
Maybe that this could also help to find the culprit 🤔
https://duncanleung.com/profile-measure-find-remove-slow-eslint-rules/

[2022-03-24 15:42] mattlewis92 commented on #284
Thanks @timdeschryver! This looks like a pretty decent solution

[2022-03-24 16:07] #284 closed

[2022-03-24 18:21] timdeschryver commented on #284
Great to hear that @mattlewis92 - thanks again for raising this issue

[2022-03-26 18:58] #285 closed

[2022-06-08 15:48] Yohandah opened #290 "Bug: TypeError: Cannot read property 'range' of null"
It looks similar to : https://github.com/babel/babel/issues/13060

### Repro Code
If I do this : it works
[code]

if I do this it fires the error :
[code]

[code]

### ESLint Config

[code]

### tsconfig

[code]

### Expected Result

No errors

### Actual Result

Error
[code]

### Versions

[code]

[2022-06-09 17:06] timdeschryver commented on #290
Hi, could you try upgrading to the latest version please (2.1.2)?
I think we fixed that issue already.

[2022-06-17 14:10] #290 closed

[2022-06-24 16:42] #279 closed

[2022-06-24 16:42] #76 closed

[2022-06-25 14:56] github-actions[bot] opened #291 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-06-25 20:31] #291 closed